.show{
  /* opacity: 1; */
  /* transition: all .3s ease-in; */
  animation: showItem 2s ease-in forwards;
}

.hide{
  /* opacity: 0; */
  /* transition: all .3s ease-in; */
  animation: hideItem 2s ease-in forwards;
}

@keyframes hideItem {
  0%{
    opacity: 100%;
    color: #abc;
  }

  50%{
    opacity: 50%;
    color: #ea5;
  }

  100%{
    opacity: 0%;
    color: #b88;
  }
}

@keyframes showItem {
  0%{
    opacity: 0%;
    color: #abc;
  }

  50%{
    opacity: 50%;
    color: #ea5;
  }

  100%{
    opacity: 100%;
    color: #b88;
  }
}