body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-flow: row wrap;
}

.leftNav{
  width: 15%;
  height: 100vh;
  padding: 1%;
  box-sizing: border-box;
  background: #abc;
}

.leftNav ul li{
  margin: 3% 0;
}

.leftNav ul li a{
  color: #027;
}

.main{
  width: 85%;
  height: 100vh;
  box-sizing: border-box;
}

.content{
  padding: 1%;
}

.content h4{
  margin: 0 0 2%;
}

.topNav{
  background: #024;
}

.topNav ul{
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.topNav ul li{
  margin: 1%;
}

.topNav ul li a{
  color: #abc;
}